{% extends 'base.html' %}
{% block content %}

<header>
  <h2>PORTFOLIO</h2>
    <ul class="navlist">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</header>
<section class="home" id="home">
    <div class="home-text">
        <div class="slide">
            <span class="one me-2">Hello</span>
            <span class="two"> I'm</span>
        </div>
        <h1>ARYA T P</h1>
        <h3>Web <span>Developer</span></h3>

        <div class="home-scl">
          <a href=""><img src="../static/img/icons8-gmail-48.png" style="width: 20px; "></a>
          <a href="https://www.instagram.com/arya_ziazz?utm_source=qr&igsh=aGp6dnQya2Y0Y2k4"><img src="../static/img/icons8-insta-48.png" style="width: 20px; "></a>
          <a href="https://wa.me/qr/V55JQB6P4V6CP1"><img src="../static/img/icons8-whatsapp-48.png" style="width: 20px; "></a>
         
      </div>

    </div>
</section>

<section class="about" id="about">
    <div class="about.img">
        <img src="../static/img/pics.jpeg" alt="">
    </div>
    <div class="about-text">
        <h2>About</h2>
        <h4>Web Developer</h4>
        <p> I am a self-learner, keeping myself updated on the latest technologies in the World Wide Web. It is my sole passion to develop user experiences that are extraordinary and out of the world. My job is to build your websites so that they are functional and user-friendly but at the same time attractive. Moreover, I add a personal touch to your product and make sure that it is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way..</p>
                    <a href="#" class="btn btn">More About</a>
    </div>
</section>
<section class="portfolio" id="portfolio">
    <div class="main-text">
        <h2>Projects</h2>

    </div>
    <div class="portfolio-content">
        <div class="row">
            <a href="https://github.com/tparya13/spotify.git">
            <img src="../static/img/spotify.webp"  alt="">
            <div class="layer">
                <h3>Spotify</h3>
                <p>check out my site</p>
              </a>
            </div>
        </div>

        <div class="row">
            <a href="https://github.com/tparya13/bookmyshow.git">
            <img src="../static/img/book.svg" alt="">
            <div class="layer">
                <h3>Bookmyshow</h3>
                <p>check out my site</p>
            </a>
            </div>
        </div>
        <div class="row">
          <a href="https://github.com/tparya13/bicycle.git">
            <img src="../static/img/pic4.avif" alt="">
            <div class="layer">
                <h3>Ecommerce</h3>
                <p>check out my site</p>
              </a>
            </div>
        </div>
        <div class="row">
            <img src="../static/img/showing.avif" alt="">
            <div class="layer">
                <h3>Ecommerce</h3>
                <p>check out my site</p>
                <a href=""></a>
            </div>
        </div>
    </div>

</section>



<section class="services" id="skills">
    <h2 class="heading text-center mb-4 mt-4"><span>SKILLS</span></h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="services-box">
            <h3>front end</h3>
            <div class="skills">
              <h4><span><img src="../static/img/html.svg" alt=""></span>HTML</h4>
              <h4><span><img src="../static/img/css.svg" alt=""></span>CSS</h4>
              <h4><span><img src="../static/img/bootstrap-icons.webp" alt=""></span>Bootstrap</h4>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-box">
            <h3>back end</h3>
            <div class="skills">
              <h4><span><img src="../static/img/django (1).svg" alt=""></span>Django</h4>
              <h4><span><img src="../static/img/flask.webp" alt=""></span>Flask</h4>
              <h4><span><img src="../static/img/sql-9.webp" alt=""></span>SQL</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-box">
            <h3>others</h3>
            <div class="skills">
              <h4><span><img src="../static/img/Git_icon.svg" alt=""></span>Git</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </section>



<section class="contact" id="contact">
    <div class="contact-text">
        <h2>Contact<span>Me!</span></h2>
        <h4>If you have any project in your mind.</h4>
        <p>I'm a web Designer - creating bold & brave interface design for companies all across the world.</p>
        <div class="list">
            <li><a href="#">9995833724</a></li>
            <li><a href="#">aryarheruparambil@gmail.com</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </div>
    </div>
    <div class="contact-form">
        <!-- <form action="/add_contact" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="phone">Phone:</label><br>
            <input type="text" id="phone" name="phone"><br><br>
            <input type="submit" value="Submit">
        </form> -->
        <form method="post" action="/submit">
            <input type="name" name="name" placeholder="your Name" required>
            <input type="email" name="email" placeholder="your Email" required>
            <input type="number" name="number" placeholder="Your Mobile Number" required>
            <textarea name="message" id="" cols="30" rows="9" placeholder="How can i help you"></textarea>
            <input type="submit" value="Send Message" class="submit" required>
        </form>
    </div>
</section>
<section class="end">
  <div class="last-text">
    <p>Designed by Arya T P</p>
  </div>
</section>
{% endblock %}
